@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
h1 {
  font-size: 3em;
}
body {
  background-color: #264653;
  color: #2ce7d1;
  font-family: 'Righteous', cursive;
}
.App {
  text-align: center;
  margin-bottom: 10px;
}
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.user-container {
  display: inline;
  flex-direction: column;
  text-align: center;
}
.list-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: #264653;
  text-align: center;
}
h2 {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgb(19, 77, 82);
  mix-blend-mode: lighten;
  padding: 1em;
}
button {
  background-color: #2a9d8f;
  color: thistle;
}
::-webkit-input-placeholder {
  background-color: #2a9d8f;
  color: thistle;
  text-align: center;
  mix-blend-mode: darken;
}
main {
  mix-blend-mode: lighten;
}
